html{
  font-size: 62.5%; /* 16px * 62.5 = 10px = 1rem */
  box-sizing: border-box;
}

body{
  font: 1.6rem Helvetica;
  height: 100vh;
  margin: 0
}

button{
  font-size: 1.6rem;
}

.full-width{
  width: 100%;
}

#root{
  height: 100%;
}

.grid-container{
  display: grid;
  grid-template-areas: 
  "header"
  "main"
  "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
}

.header{
  grid-area: header;
  background-color: #406485;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}
.brand{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.brand-name{
  color: #ffffff;
}
.company a{
  color: #ffffff;
  font-size: 2.5rem;
  font-weight: bold;
  text-decoration: none;
}
.header-links{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-links div{
  padding: 1rem;
}
.header-links a{
  color: #ffffff;
  text-decoration: none;
  padding: 1rem;
}
.header-links a:hover{
  color: #ff8000;
}

.main{
  grid-area: main;
}

.footer{
  grid-area: footer;
  background-color: #406485;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button{
  padding: 1rem;
  border: 0.1rem #808080 solid;
  border-radius: 0.5rem;
  cursor: pointer;
}
.button.primary{
  background-color: #f0c040;
}
.button.secondary{
  background-color: #f0f0f0;
}
.text-center{
  text-align: center;
}
.button:hover{
  border: 0.1rem #404040 solid;
}

a{
  text-decoration: none;
}
a:hover{
  color: #ff8000;
}

/* Costume List Screen */

.costumes-list-title{
  display: grid;
  grid-template-areas: 
  "costumes-list-title-area" 
  "costumes-list-search-area"
  "costumes-list-filter-area"
  "costumes-list-sort-area";
  grid-template-columns: 1fr 23rem 19rem 23rem;
  grid-template-rows: 1fr;
  align-items: center;
}

.costumes-list-title > h4{
  padding-left: 3rem;
  font-size: 2rem;
}

.costumes-list-search > form > input{
  padding: 0.5rem;
}
.costumes-list-search > form > button{
  margin-left: 0.5rem;
}
.costumes-no-result{
  width: 100%;
  margin-left: 1rem
}

.costumes-list-filter{
  grid-area: "costumes-list-filter-area";
  font-size: 1.5rem;
  font-weight: bold;
}

.costumes-list-sort{
  grid-area: "costumes-list-sort-area";
  font-size: 1.5rem;
  font-weight: bold;
}

.costumes{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.costumes li{
  list-style-type: none;
  padding: 0;
  flex: 0 1 34rem;
  margin: 1rem;
  height: 50rem;
  border-bottom: 0.1rem #c0c0c0 solid;
}

.costume{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.costume-name{
  font-size: 2rem;
  font-weight: bold;
}
.costume-designer{
  font-size: 1.2rem;
  color: #808080;
}
.costume-price{
  font-size: 2.5rem;
  font-weight: bold;
}
.costume-image{
  max-width: 34rem;
  max-height: 34rem;
  vertical-align: bottom;
}
.costume-image-border{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34rem;
  width: 34rem;
  border: #406485 solid;
  border-radius: 1rem;
}
.costume-rating{
  margin-bottom: 1rem;
}

/* Sidebar */

.brand-button{
  font-size: 3rem;
  padding: 0.5rem;
  background: none;
  border: none;
  color: #ffffff;
  cursor: pointer;
  margin-bottom: 0.75rem;
}

.sidebar{
  position: fixed;
  transform: translateX(-30rem);
  transition: all 0.5s;
  width: 30rem;
  background-color: #f0f0f0;
  height: 100%;
}
.sidebar.open{
  transform: translateX(0);
}
.sidebar-close-button{
  border-radius: 50%;
  border: 0.1rem #000000 solid;
  width: 3rem;
  height: 3rem;
  padding: 0.5rem;
  font-size: 2rem;
  padding-top: 0;
  cursor: pointer;
  position: absolute;
  right: 1rem;
  top: 1rem;
}

/* Pagination Container */
.pagination-container{
  display: flex;
  justify-content: center;
  padding: 1rem;
}

/* Pagination Links */
.pagination button {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border: none;
  outline: none;
  background-color: #ffffff;
  margin: 0.1rem;
}

/* Style the active/current link */
.pagination button.page-button.active {
  background-color: dodgerblue;
  color: white;
}

/* Add a grey background color on mouse-over */
.pagination button:hover:not(.active) {
  background-color: #ddd;
  cursor: pointer;
}

/* Costume Details */

.back-to-results{
  padding: 1rem;
}

.costume-details{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 1rem;
}

.costume-details-image{
  flex: 2 1 60rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.costume-details-image img{
  max-width: 60rem;
  width: 100%;
}

.costume-details-info{
  flex: 1 1 30rem;
}

.costume-stats{
  margin: 1rem;
  border: #406485 solid;
}
.costume-stats > div{
  margin: 1rem;
}

.costume-details-action{
  flex: 1 1 30rem;
  border: 0.1rem #808080 solid;
  border-radius: 0.5rem;
  background-color: #fff0f0;
  padding: 1rem;
}

.costume-details-info ul, .costume-details-action ul{
  list-style-type: none;
  padding: 0;
}

.costume-details-info li, .costume-details-action li{
  margin-bottom: 1rem;
}

.costume-details-action ul li:last-child{
  display: flex;
  flex-direction: column;
}

/* Cart */

.cart{
  display: flex;
  flex-wrap: wrap;
  margin: 1rem;
  align-items: flex-start;
}

.cart-list{
  flex: 3 1 60rem;
}

.cart-action{
  flex: 1 1 20rem;
  background-color: #f0f0f0;
  padding: 1rem;
}

.cart-list-container{
  padding: 1rem;
  list-style-type: none;
}

.cart-list-container li{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 1rem;
  border-bottom: 0.1rem #808080 solid;
}

.cart-list-container li img{
  max-width: 10rem;
  max-height: 10rem;
}

.cart-list-container li:first-child{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.cart-image{
  flex: 1 1;
}

.cart-name{
  flex: 8 1;
}

.cart-price{
  flex: 1 1;
  font-size: 2.5rem;
  text-align: right;
}

/* forms */

.form{
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100%;
}

.form-container{
  display: flex;
  flex-direction: column;
  width: 32rem;
  padding: 2rem;
  border: 0.1rem #f0f0f0 solid;
  border-radius: 0.5rem;
  list-style-type: none;
}

.form-container li{
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

input{
  padding: 1rem;
  border: 0.1rem #c0c0c0 solid;
  border-radius: 0.5rem;
}

.form-error-message{
  color: #c04000;
}

/* Costumes Detail Editor */

.costume-header{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.content-margined{
  margin: 1rem;
}

.table{
  width: 100%;
}

th{
  text-align: left;
}

tbody>tr:nth-child(odd){
  background-color: #f0f0f0;
}

/* Checkout Steps */

.checkout-steps{
  display: flex;
  justify-content: space-between;
  width: 40rem;
  margin: 1rem auto;
}

.checkout-steps > div{
  border-top: 0.3rem #c0c0c0 solid;
  color: #c0c0c0;
  flex: 1 1;
  padding-top: 1rem;
}

.checkout-steps > div.active{
  border-top: 0.3rem #f08000 solid;
  color: #f08000;
}

/* Place Order */

.placeorder {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  justify-content: space-between;
}

.placeorder-info {
  flex: 3 1 60rem;
}

.placeorder-action {
  flex: 1 1 20rem;
  border: 0.1rem #c0c0c0 solid;
  border-radius: 0.5rem;
  background-color: #fcf0f0;
  padding: 1rem;
  margin-bottom: 1rem;
  margin-right: 1rem;
}

.placeorder-info > div {
  border: 0.1rem #c0c0c0 solid;
  border-radius: 0.5rem;
  background-color: #fcf0f0;
  padding: 1rem;
  margin: 1rem;
}

.placeorder-info > div:first-child {
  margin-top: 0;
}

.placeorder-action > ul{
  padding: 0;
  list-style-type: none;
  margin: 1rem;
}

.placeorder-action > ul > li{
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.placeorder-action > ul > li:last-child{
  font-size: 2rem;
  font-weight: bold;
  color: #c04000;
}

